absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
array_record==0.5.1
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click==8.1.7
contourpy==1.2.1
cssselect==1.2.0
cycler==0.12.1
dm-tree==0.1.8
etils==1.8.0
filelock==3.14.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1711466727397/work
fonttools==4.52.4
fsspec==2024.5.0
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1688368721366/work
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1713388282847/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1715967927956/work
huggingface-hub==0.23.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
importlib_resources==6.4.0
joblib==1.4.2
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1714206291078/work
kiwisolver==1.4.5
lxml==5.2.2
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899920239/work
matplotlib==3.9.0
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
ml-dtypes @ file:///home/conda/feedstock_root/build_artifacts/ml_dtypes_1704727650907/work
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1713169736451/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225359967/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=031b7d6b2e5e604d9e21fc21be713ebf28ce133ec872dce6de006742d5e49bab
opencv-python==4.9.0.80
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1696448916724/work
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1711402436686/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pillow==10.3.0
promise==2.3
protobuf==4.25.3
psutil==5.9.8
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing==3.1.2
pyquery==2.0.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
PyYAML==6.0.1
regex==2024.5.15
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1716354486713/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1708285739699/work/tensorboard-2.16.2-py3-none-any.whl#sha256=9f2b4e7dad86667615c0e5cd072f1ea8403fc032a299f0072d6f74855775cc45
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1695425351168/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=08eafad4a6f200aa6c84e4e5d5b22ba86725e5edc24edb2f45034478781a386c
tensorflow @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1716519283043/work/tensorflow_pkg/tensorflow-2.16.1-cp312-cp312-linux_x86_64.whl#sha256=eb93dd8cf57468eb4e69e0f6a1599f46649f6f0f75293e90e540109690f3db48
tensorflow-datasets==4.9.4
tensorflow-metadata==1.15.0
tensorflow_estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1716519283043/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=88e6f7d9ed696a47196171aab9c07a8a284aa272e51f485b0bce1f383898b2d5
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
threadpoolctl==3.5.0
tokenizers==0.19.1
toml==0.10.2
tqdm==4.66.4
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
wheel==0.43.0
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1699532803956/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work

